<main>
    <section class="texto-principal">
        <article class="container">
            <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto nemo dolor rem nam vitae ratione.
            </h2>
            <img src="../../../assets/images/ilustra-home.png">
        </article>
    </section>

    <section class="servicos">
            <div class="servicos-titulo">
                <h3>Serviços</h3>
            </div>
            <div class="servicos-cards">
                <div class="cards-wrapper">
                    <div class="card-img"><img src="../../../assets/images/bath.jpg" class="img-banho"></div>
                    <div class="card-title">banho completo</div>
                    <div class="card-price">R$40,00</div>
                </div>
                <div class="cards-wrapper">
                    <div class="card-img"><img src="../../../assets/images/tosa.jpg" class="img-tosa"></div>

                    <div class="card-title">banho e tosa</div>
                    <div class="card-price">R$60,00</div>

                </div>
                <div class="cards-wrapper">
                    <div class="card-img"><a href="https://br.freepik.com/mdjaff"><img src="../../../assets/images/vet.jpg" class="img-vet"></a></div>
                    <div class="card-title">consulta veterinária</div>
                    <div class="card-price">R$150,00</div>
                </div>
            </div>
    </section>

    <section class="texto-secundario">
        <article class="container">
            <img src="../../../assets/images/ilustra-home-2.png">
            <div class="texto-wrapper">
                <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla suscipit ultrices mauris. Nulla
                    tincidunt ipsum et quam fermentum scelerisque. In hac habitasse platea dictumst. Nullam pharetra
                    mi a ligula imperdiet sollicitudin. Phasellus a faucibus leo, id commodo libero.</p>
            </div>
        </article>
    </section>
</main>
<app-footer-info></app-footer-info>