<main>
    <section class="login">
        <article>
            <img src="../../../assets/images/ilustra-login.png" class="ilustra-login">
        </article>
        <article class="login">
            <div>
                <h2>Login</h2>
                <form>
                    <input type="email" placeholder="email:">
                    <input type="password" placeholder="senha:">
                    <button type="submit">entrar</button>
                </form>
                <div class="cadastro">
                    <a href="/signup">ainda não tenho cadastro</a>
                </div>
            </div>
        </article>
    </section>
</main>