<main>
  <article class="servicos">
    <h2 class="servicos-titulo">Serviços</h2>
    <section class="container">
      <div class="servicos-wrapper">
        <div class="img-wrapper" style="background-image: url(../../../assets/images/bath.jpg);">
          <div class="servicos-img" ></div>
        </div>
        <div class="servicos-texto">
          <div class="price-title">
            <h3>Banho Completo</h3>
            <p class="price">R$40,00</p>
          </div>
          <p class="servicos-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
            suscipit ultrices mauris. Nulla tincidunt ipsum et quam fermentum
            scelerisque. In hac habitasse platea dictumst. Nullam pharetra mi a
            ligula imperdiet sollicitudin. Phasellus a faucibus leo, id commodo
            libero.
          </p>
          <a href="/signin"><button>agendar</button></a>
        </div>
      </div>
      <hr />
      <div class="servicos-wrapper">
        <div class="img-wrapper" style="background-image: url(../../../assets/images/tosa.jpg);">
          <div class="servicos-img"><img src="" class="img-tosa" /></div>
        </div>
        <div class="servicos-texto">
          <div class="price-title">
            <h3>Banho e Tosa</h3>
            <p class="price">R$60,00</p>
          </div>
          <p class="servicos-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
            suscipit ultrices mauris. Nulla tincidunt ipsum et quam fermentum
            scelerisque. In hac habitasse platea dictumst. Nullam pharetra mi a
            ligula imperdiet sollicitudin. Phasellus a faucibus leo, id commodo
            libero.
          </p>
          <a href="/sognin"><button>agendar</button></a>
        </div>
      </div>
      <hr />
      <div class="servicos-wrapper">
        <div class="img-wrapper" style="background-image: url(../../../assets/images/vet.jpg);">
          <div class="servicos-img">
            <a href="https://br.freepik.com/mdjaff"><img src="" class="img-vet" /></a>
          </div>
        </div>
        <div class="servicos-texto">
          <div class="price-title">
            <h3>Consulta Veterinária</h3>
            <p class="price">R$150,00</p>
          </div>
          <p class="servicos-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
            suscipit ultrices mauris. Nulla tincidunt ipsum et quam fermentum
            scelerisque. In hac habitasse platea dictumst. Nullam pharetra mi a
            ligula imperdiet sollicitudin. Phasellus a faucibus leo, id commodo
            libero.
          </p>
          <a href="/signin"><button>agendar</button></a>
        </div>
      </div>
    </section>
  </article>
</main>
<app-footer-info></app-footer-info>
