<main>
    <section class="signup">
        <article>
            <img src="../../../assets/images/ilustra-cadastro.png" class="ilustra-cadastro">
        </article>
        <article class="login">
            <div class="login-wrapper">
                <h2>Cadastre-se</h2>
                <form>
                    <input type="text" placeholder="nome:">
                    <input type="email" placeholder="email:">
                    <input type="password" placeholder="senha:">
                    <input type="password" placeholder="confirmar senha:">
                    <button type="submit">enviar</button>
                </form>
            </div>
        </article>
    </section>
</main>